<!doctype html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Mastermind</title>
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
	<link rel="stylesheet" href="dragula.css"/>
	<link rel="stylesheet" href="home.css"/>
		
	<body class="code bg-washed-yellow">
    	{{{body}}}
		<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
	</body>
</html>
